name: Publish to crates.io

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (full history & tags)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Publish updated crates
        uses: katyo/publish-crates@v2
        with:
          path: '.'
          registry-token: ${{ secrets.CARGO_TOKEN }}
          ignore-unpublished-changes: true
